In [7]:
import pandas as pd
import numpy as np

Membuat List

In [8]:
employee_names = (['Amy White','Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'])
print(type(employee_names))

<class 'list'>

Mengubah list menjadi Pandas Series

In [9]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names_Series = pd.Series(employee_names)
print(type(employee_names_Series))

<class 'pandas.core.series.Series'>

Membuat Pandas Series

In [10]:
work_experience_yrs = pd.Series([5,8,3])
print(work_experience_yrs)

0    5
1    8
2    3
dtype: int64

Mengubah Numpy Array menjadi Panda Series

In [11]:
array_age = np.array([50, 53, 35, 43])
array_1 = pd.Series(array_age)
print(array_1)

0    50
1    53
2    35
3    43
dtype: int64

In [12]:
array_age = np.array([50, 53, 35, 43])
series_age = pd.Series(array_age)
print(type(series_age))

<class 'pandas.core.series.Series'>