***Importing *.csv Files with pandas - Exercise #1***
You are provided with a text file named 'Lending-company-100. csv'.
Use a variable named filename to store the file's name.
Open the file using the open() function and store its entire content into a variable called file.
Read the content of the text variable into a separate variable called text.
To conclude, print the type of the type of the text variable to confirm that it has been updated.
Hint: Use the print() function to display the type of the text variable.

In [7]:
filename = 'Lending-company-100.csv'
file = open(filename, mode = 'r')
text = file.read()
print(type(text))

<class 'str'>

***Importing *.csv Files with pandas - Exercise #2***
You are provided with a text file named 'Lending-company-100. csv'.
Import the 'pandas' library using the conventional alias pd.
Using the 'pandas' library, load the contents of this *.csv file into a DataFrame.
Hint: Use the print() function to display the 'Lending-company-100.csv' data.

In [8]:
import pandas as pd

In [ ]:
df = pd.read_csv('Lending-company-100.csv',header =0) 
print(df)

#Parameter 'header = 0' memberi tahu Python bahwa baris pertama (indeks ke-0) dari file CSV adalah baris header, yaitu baris yang berisi nama-nama kolom.

    LoanID    StringID    Product CustomerGender      Location    Region  \
0        1    LoanID_1  Product B         Female    Location 3  Region 2
1        2    LoanID_2  Product D         Female    Location 6  Region 6
2        3    LoanID_3  Product B           Male    Location 8  Region 3
3        4    LoanID_4  Product A           Male   Location 26  Region 2
4        5    LoanID_5  Product B         Female   Location 34  Region 3
..     ...         ...        ...            ...           ...       ...
95      96   LoanID_96  Product B         Female    Location 4  Region 7
96      97   LoanID_97  Product B         Female   Location 70  Region 3
97      98   LoanID_98  Product A           Male   Location 45  Region 4
98      99   LoanID_99  Product A           Male    Location 3  Region 4
99     100  LoanID_100  Product B         Female  Location 262  Region 1

    TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0      17600.0    4/7/2018     2200         45          365       3221
1          NaN    2/1/2019     2200         45          365       3161
2      16600.0   8/12/2016     1000         45          365       2260
3      17600.0         NaN     2200         45          365       3141
4      21250.0  28/10/2017     2200         55          365       3570
..         ...         ...      ...        ...          ...        ...
95     17600.0   11/5/2019     2200         45          365       3501
96     17600.0    1/6/2018     2200         45          365       3500
97     23250.0  25/12/2019     5000         55          365       5600
98     23250.0  23/07/2019     5000         55          365       5600
99     17600.0  30/08/2018     2200         45          365       3301

    AmtPaid60  AmtPaid360 LoanStatus
0        4166       14621     Active
1        4096       16041     Active
2        3205       16340        NaN
3        4166       16321     Active
4        4745       14720     Active
..        ...         ...        ...
95       4981        9996     Active
96       4245       14240     Active
97       6725       15665     Active
98       6715       22600     Active
99       3126       10151     Active

[100 rows x 15 columns]

***Importing *.csv Files with pandas - Exercise #3***
You are provided with a text file named 'Lending-company-100. csv'.
Determine the type of object created when this *.csv file is read using 'pandas'.
Hint: Use the print() function to display the output.

In [ ]:
data = pd.read_csv('Lending-company-100.csv')
print(type(data))
print("test")

test