In [2]:
import pandas as pd

*** Importing Data with the "index_col" Parameter - Exercise #1 ***
You are provided with a CSV file named 'Lending-company-100.csv'.
1. Load its entire content into a DataFrame named my_csv_data, ensuring that the filename is used directly in the pd.read_csv() function rather than being stored in a separate variable.
2. Finally, display the full content of the DataFrame using the print() function.

In [11]:
filename = 'Lending-company-100.csv'
my_csv_data = pd.read_csv(filename)
print(my_csv_data)

    LoanID    StringID    Product CustomerGender      Location    Region  \
0        1    LoanID_1  Product B         Female    Location 3  Region 2
1        2    LoanID_2  Product D         Female    Location 6  Region 6
2        3    LoanID_3  Product B           Male    Location 8  Region 3
3        4    LoanID_4  Product A           Male   Location 26  Region 2
4        5    LoanID_5  Product B         Female   Location 34  Region 3
..     ...         ...        ...            ...           ...       ...
95      96   LoanID_96  Product B         Female    Location 4  Region 7
96      97   LoanID_97  Product B         Female   Location 70  Region 3
97      98   LoanID_98  Product A           Male   Location 45  Region 4
98      99   LoanID_99  Product A           Male    Location 3  Region 4
99     100  LoanID_100  Product B         Female  Location 262  Region 1

    TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0      17600.0    4/7/2018     2200         45          365       3221
1          NaN    2/1/2019     2200         45          365       3161
2      16600.0   8/12/2016     1000         45          365       2260
3      17600.0         NaN     2200         45          365       3141
4      21250.0  28/10/2017     2200         55          365       3570
..         ...         ...      ...        ...          ...        ...
95     17600.0   11/5/2019     2200         45          365       3501
96     17600.0    1/6/2018     2200         45          365       3500
97     23250.0  25/12/2019     5000         55          365       5600
98     23250.0  23/07/2019     5000         55          365       5600
99     17600.0  30/08/2018     2200         45          365       3301

    AmtPaid60  AmtPaid360 LoanStatus
0        4166       14621     Active
1        4096       16041     Active
2        3205       16340        NaN
3        4166       16321     Active
4        4745       14720     Active
..        ...         ...        ...
95       4981        9996     Active
96       4245       14240     Active
97       6725       15665     Active
98       6715       22600     Active
99       3126       10151     Active

[100 rows x 15 columns]

***Importing Data with the "index_col" Parameter - Exercise #2***
You are provided with a CSV file named 'Lending-company-100.csv'.
1. Load the entire contents of the file into a DataFrame named my_csv_data, using LoanID as the index column.
2. Use the print() function to display the complete DataFrame.

In [10]:
filename = 'Lending-company-100.csv'
my_csv_data = pd.read_csv(filename, index_col='LoanID')
print(my_csv_data)

          StringID    Product CustomerGender      Location    Region  \
LoanID
1         LoanID_1  Product B         Female    Location 3  Region 2
2         LoanID_2  Product D         Female    Location 6  Region 6
3         LoanID_3  Product B           Male    Location 8  Region 3
4         LoanID_4  Product A           Male   Location 26  Region 2
5         LoanID_5  Product B         Female   Location 34  Region 3
...            ...        ...            ...           ...       ...
96       LoanID_96  Product B         Female    Location 4  Region 7
97       LoanID_97  Product B         Female   Location 70  Region 3
98       LoanID_98  Product A           Male   Location 45  Region 4
99       LoanID_99  Product A           Male    Location 3  Region 4
100     LoanID_100  Product B         Female  Location 262  Region 1

        TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
LoanID
1          17600.0    4/7/2018     2200         45          365       3221
2              NaN    2/1/2019     2200         45          365       3161
3          16600.0   8/12/2016     1000         45          365       2260
4          17600.0         NaN     2200         45          365       3141
5          21250.0  28/10/2017     2200         55          365       3570
...            ...         ...      ...        ...          ...        ...
96         17600.0   11/5/2019     2200         45          365       3501
97         17600.0    1/6/2018     2200         45          365       3500
98         23250.0  25/12/2019     5000         55          365       5600
99         23250.0  23/07/2019     5000         55          365       5600
100        17600.0  30/08/2018     2200         45          365       3301

        AmtPaid60  AmtPaid360 LoanStatus
LoanID
1            4166       14621     Active
2            4096       16041     Active
3            3205       16340        NaN
4            4166       16321     Active
5            4745       14720     Active
...           ...         ...        ...
96           4981        9996     Active
97           4245       14240     Active
98           6725       15665     Active
99           6715       22600     Active
100          3126       10151     Active

[100 rows x 14 columns]