In [5]:
import pandas as pd
import numpy as np

In [4]:
work_experience_years = pd.Series([5,8,3,10])
print(work_experience_years)

0     5
1     8
2     3
3    10
dtype: int64

Convert the work_experience_years object from a Pandas Series into a NumPy array

In [6]:
work_experience_years = pd.Series([5,8,3,10])
work_experience = np.array(work_experience_years)
print(work_experience)

[ 5  8  3 10]

Check the type of the following object:
work_experience_years.to_numpy()

In [9]:
work_experience_years = pd.Series([5,8,3,10])
print(type(work_experience_years.to_numpy()))

<class 'numpy.ndarray'>

Use an attribute to find the number of elements in the underlying data (work_experience_years).

In [11]:
work_experience_years = pd.Series([5,8,3,10])
print(work_experience_years.size)

4

Assign the name 'Work Experience (Yrs.)' to the work_experience_years Series.

In [13]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = 'Work Experience (Yrs.)'
print(work_experience_years)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

Display the name of the Series.

In [14]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = "Work Experience (Yrs.)"
print(work_experience_years.name)

Work Experience (Yrs.)

Display the Series itself, to see the name appear below the data values it contains.

In [15]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = "Work Experience (Yrs.)"
print(work_experience_years)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64