In [2]:
import pandas as pd

**Task: create a dictionary called data where the values should be lists.**


data = .... -> adalah dictionary

df = pd.DataFrame(data) -> Kode ini mengubah data menjadi sebuah DataFrame, yaitu struktur data utama di pandas yang mirip tabel Excel dengan baris dan kolom.
df adalah nama variable

In [3]:
data = {'Name':['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'],'Age':[50,53,35,43],'Working Experience (Yrs.)':[5,8,3,10]}
df = pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy white   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

**Create a list named data which should only contain dictionaries as its elements.**

In [4]:
data = [{'Name':'Amy White','Age': 50, 'Working Experience (Yrs.)':5},
        {'Name':'Jack Stewart','Age': 53, 'Working Experience (Yrs.)':8},
        {'Name':'Richard Lauderdale','Age': 35, 'Working Experience (Yrs.)':3},
        {'Name':'Sara Johnson','Age': 43, 'Working Experience (Yrs.)':10}]
df = pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

**Create a dictionary called data where the values should be pandas Series. Store the pandas Series in variables named names, age, and working_experience_yrs.**

In [6]:
names = pd.Series(['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'])
age = pd.Series([50,53,35,43])
working_experience_yrs = pd.Series([5,8,3,10])
data = {'Name':names,'Age':age,'Working Experience (Yrs.)':working_experience_yrs}
df = pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

**Create a list called data where the values should be lists. Good luck!**

In [10]:
data = [['Amy White',50,5],['Jack Stewart',53,8],['Richard Lauderdale',35,3],['Sara Johnson',43,10]]
df = pd.DataFrame(data)
df.columns = ['Name','Age','Working Experience (Yrs.)']
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

Modify the provided code to add integers starting from 1 in ascending order as index values.

data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

In [22]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
user_id = [1,2,3,4]
df = pd.DataFrame(data,index = user_id)
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10

<u>**Construct a DataFrame in a Professional Way**<u/>

In [23]:
df = pd.DataFrame (data = [['Amy White',50,5],['Jack Stewart',53,8],['Richard Lauderdale',35,3],['Sara Johnson',43,10]],
                  columns=['Name', 'Age', 'Working Experience (Yrs.)'],
                  index= [1,2,3,4])
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10