In [2]:
import pandas as pd

Create a dictionary named workers_age

In [9]:
workers_age = {'Amy White': 50, 'Jack Stewart': 53, 'Richard Lauderdale':35, 'Sara Johnson':43}
print(workers_age)

{'Amy White': 50, 'Jack Stewart': 53, 'Richard Lauderdale': 35, 'Sara Johnson': 43}

Verify the type of workers_age is a dictionary.

In [10]:
print(type(workers_age))

<class 'dict'>

Create a Series from workers_age, giving it the same name. Confirm that the task was done correctly by printing out the contents of the newly created object.

In [13]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age = pd.Series(workers_age)
print(workers_age)

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Verify workers_age is a Series object.

In [15]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age = pd.Series(workers_age)
print(type(workers_age))

<class 'pandas.core.series.Series'>

Retrieve the index of workers_age.

In [ ]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age = pd.Series(workers_age)
workers_age.index #Menampilkan semua label index dari Series tersebut.
print(workers_age.index)

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')