In [3]:
import pandas as pd

Use an appropriate method to extract the top five values from the employees_work_exp Series.
Please be aware that pandas may automatically display the values of the object as floats as opposed to integers

In [ ]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

print(employees_work_exp.head())
#.head() Menampilkan 5 baris pertama dari DataFrame employees_work_exp.

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

Use a suitable method to extract the last several rows of employees_work_experience.

In [11]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

print(employees_work_exp.tail())
#.tail() Menampilkan 5 baris terakhir dari DataFrame employees_work_exp.
print('\n')
print(employees_work_exp.tail(3)) #diisi aja dalam kurungnya buat nampilin berapa banyak. Defaultnya 5

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64


Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64